<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> XSS Analyzer </title>

    <link href="/css/index-styles.css" rel="stylesheet" type="text/css">
</head>
<body onload="mainFunction()">
    <%- include("./orbikHeader.ejs") %>

    <h1 style="text-align: center; margin: auto; margin-top: 70px;"> XSS Vulnerability Analyzer </h1>

    <table style="text-align: center; margin: auto; margin-top: 50px;">
        <tr>
            <th style="padding-right: 400px;">
                <form method="POST" action="/domainenum">
                    <table>
                        <tr>
                            <td style="white-space: nowrap;">
                                <h1> Domain Target </h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id ="formTextField" name="domain">
                            </td>
                        </tr>
                        <tr>
                            <th>

                                <table>
                                    
                                    <tr>
                                        <td>
                                            Full Domain <br>(Automatic)
                                        </td>
                                        <td>
                                            Select URLs <br>(Interactable)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="formCheckBox" name="automatic">
                                        </td>
                                        <td>
                                            <input type="checkbox" id="formCheckBox" name="interactable">
                                        </td>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <input type="submit" id="buttonSend" value="Submit">
                            </th>
                        </tr>
                    </table>
                </form>
            </th>
            <th>
                <form method="POST" action="/urlenum">
                    <table style="margin-top: -155px;">
                        <tr>
                            <td style="white-space: nowrap;">
                                <h1> URL Target </h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="formTextField" name="url">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <input type="submit" id="buttonSend" value="Submit">
                            </th>
                        </tr>
                    </table>
                </form>
            </th>
        </tr>
    </table>
</body>

</html>